#output {
  white-space: pre-wrap;
  overflow:auto;
  resize: both;
  user-select: all; 
  -moz-user-select: all;
  -webkit-user-select: all;
  -ms-user-select: all;
}
.highlighttext {
  background-color: #ff0;
}
.her {
  background-color: #0ff;
}
.changetext {
  background-color:#ababab;
}
h1 {
  font-size:30px !important;
}
button.btn {
  display:block;
  clear:both;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  padding-top:10px;
}
span.muted {
  font-size:14px;
}

textarea {
  width: 90%;
  margin: 1em;
  border: none;
  height: 250px;
  border: 1px solid lightgrey;
  box-shadow: 0 0 5px #719ECE;
}

.feedbackForm {
  margin: 60px 0;
}

#bodydesc {
  width: 90%;
  border: none;
  height: 200px;
  border: 1px solid lightgrey;
  box-shadow: 0 0 10px #719ECE;
}

.user-log{
  }